.bottom--nav{
  width: 100%;
  bottom: 0;
  position:  fixed;
  z-index: 1;
  border-top: 1px solid grey;
 
 

  ul{
 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 76px;
    padding: 0;
    align-items: center;

  }
  
  li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    
  }
}