.bottom--nav{
  width: 100%;
  bottom: 0;
  position:  fixed;
  border-top: 1px solid grey;
  z-index: 3;
  background-color: rgb(202, 202, 202);
 


  ul{
 
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    padding: 0;
    align-items: center;

  }
  
  li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    
  }
  a{
    text-decoration:none; 
    color: white;
  }
  a:hover{
    color: rgb(44, 44, 44);
    font-weight: 500;

  }
}