.login-form{

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  .login-message{

    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    color: rgb(66, 66, 66);
  

  }


  form {
 
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;  
  }

  label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  input {
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 7px;

  }
  button{

    margin: 25px auto 0;
    
    width: 50%;
    height: 25px;
    background-color: rgb(14, 197, 14);
    border: 1px solid rgb(116, 116, 116);
    color: white;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
  
  
  }

}