.my-profile-main-container{
margin-bottom: 50px;
}


.my-stickers-container{
  width: 100%;
 
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px ;
  
}


.mytrophies{
  width: 120px;
  height: 120px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
  margin:1px
}
.mytrophies:hover {
  border: 1px solid rgb(92, 92, 92);
  background-color: rgb(243, 243, 243);
}
.sticker-img{
  border-radius: 4px;

  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;

}
.locked{
  filter: brightness(15%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));

}
.locked:hover {
  filter: brightness(17%);

}

.myprofile-span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 14px 0;
  .span--little {
    font-size: 0.8em;
  }
  .span--bold{
    font-weight: 600;
  }
  .myprofile-span-bolder{
    font-weight: 600;
  }
}
.my-stickers-tittle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}


.big-img-div{
  width: 90%;
  height: 80vh;
  background-color: rgba(238, 238, 238, 0.932);
  position: fixed;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}
.big-sticker-img{
  width: 100%;
  min-width: 245px;
  max-width: 393px;
  margin-top: 50px;
 
}
.big-sticker-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase ;
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 20px;

}
.big-sticker-msg{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 60%;
  margin: 0 auto;
  
  font-size: 1em;
  color: rgb(0, 0, 0);

}

.close-button{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 4px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 50px;
  padding: 5px 10px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 0, 0);
  font-weight: 600;
  cursor: pointer;
}
.big-sticker-information{
 height: 100%; 

}

@media (min-width: 900px) {
  .my-stickers-container{
    max-width: 810px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px ;
    
  }
  .my-profile-span-wrapper{
    margin: 0 auto;
    max-width: 790px;
  }
  .big-img-div{
    max-width: 810px;
    left: 50%;
    transform: translate(-50%, 0);
  
  }
}
@media (max-height: 750px) {
  .big-img-div{

   border: red 1px solid;
   margin-top: 0px;

  }
  .big-sticker-img{
    height: 318px;
    width: 318px;
   
    
  }



}