.ranking-component{
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  margin-top: 100px;

  .ranking-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: grey;
    text-align: center;
    margin-left: 50px;

  }
  .ranking-wrapper{
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
  }

  .top-username{
    border: grey 1px solid;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0 10px 10px;
    color: grey; 
    width: 60%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  .first-place{
    width:20%;
    background-image: url("../assets/vecteezy_3d-icon-business-gold-medal_9848273_617.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.top-username-1{
    border: grey 1px solid;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0 10px 10px;
    color: grey; 
    width: 60%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.second-place{
  width:20%;
  background-image: url("../assets/vecteezy_3d-icon-business-silver-medal_9848279_449.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.top-username-2{
  border: grey 1px solid;
  border-right: none;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 10px;
  color: grey; 
  width: 60%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.third-place{
  width:20%;
  background-image: url("../assets/vecteezy_3d-icon-bronze-medal_9855592_11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.top-username-3{
  border: grey 1px solid;
  border-right: none;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 10px;
  color: grey; 
  width: 60%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.no-place{
  width:20%;
}

  .top-totaltime{
    width: 20%;
    border: grey 1px solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: grey;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

  }
  .ranking-subtitle{
    display: flex;
    flex-direction: row;
    margin-top: 5px;

  }
  .general-username{
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 10px 0 10px 10px;
    color: grey; 
    width: 60%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  .general-totaltime{
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: grey;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }



}

@media (min-width:500px) {
  .ranking-wrapper{
    max-width: 405px;
  }
}