.timer-component-container{
  height: calc(100vh - 8vh);
}


.timer--container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  align-items: center;
  width: 100%;

  .span-type{
    color: rgb(212, 31, 31);
    font-size: 1.2em;
    margin: 0 0;
    padding-top: 2px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  .div--timer{
    width: 250px;
    color: rgb(50, 59, 43);
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    

  }
  .time-style{
    color: rgb(66, 66, 66);
  }
  .time-style-orange{
    color: rgb(255, 115, 0);
  }
  .time-style-red{
    color: rgb(255, 0, 0);
  }
 
 
  .div--timer--btns{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    

    .div-btns{
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 70%;
      margin: 0 auto;
      
    }
    button {
      height: 35px;
      width: 110px;
      margin-right: 10px;
      color: rgb(255, 255, 255);
      border-radius: 3px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }

    .primary{
      background-color: rgb(101, 190, 49);
      border: 1px solid rgb(101, 190, 49);
      color: white;
    }
    .primary:hover {
      background-color: rgb(86, 165, 40);
    }

    .secondary {
      background-color: rgb(231, 47, 47);
      border: 1px solid rgb(231, 47, 47);
      color: white;
    }
    .secondary:hover {
      background-color: rgb(207, 39, 39);

    }
    
  
  }

  .div-pomodoro-gif{
    width: 100%;
    height: 60%;
    margin: 10px 0;
    background-image: url('../assets/3cd27426c45d481f5e653f700b17ff4ce038f750_hq.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

  }
  .div-break-gif{
      width: 100%;
      height: 60%;
      margin: 10px 0;
      background-image: url('../assets/412c6c1e6945e7c5a0abbd6f78b0b69a.gif');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: top;
      margin-bottom: 20px;
      margin-top: 20px;

  }
  .div-start-gif{
    width: 100%;
      height: 40%;
      margin: 10px 0;
      background-image: url('../assets/poke.gif');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: top;
      margin-bottom: 20px;
      margin-top: 20px;
      
      
  }
  .div-stoped-gif{
      width: 100%;
      height: 60%;
      margin: 10px 0;
      background-image: url('../assets/my-hero-academia-izuku-midoriya.gif');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      margin-bottom: 20px;
      margin-top: 20px;
  }



  .selector-bar{
    width:95%;
    height: 40px;
    position: relative;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
    
  }

  #input-slide{
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: linear-gradient(90deg, rgb(255, 61, 61) 60%, rgb(214,214,214) 60% );
    background-color: grey;

    border-radius: 30px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
  }

 #input-slide:hover {
  opacity: 1;
  }  

  // #input-slide::-webkit-slider-runnable-track{
  //   width: 25px;
  //   height: 25px;
  //   color: #13bba4;
  //   margin-top: -1px;
  // }

  #input-slide::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2843db;
    border-radius: 50px ; 
    cursor: pointer;

  }
  #input-slide::-webkit-slider-thumb:hover {
  
    background: #1b32b3;
  
  }

  

  .input-value{
    background: rgb(247, 44, 44);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 20px;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    
  }

}


.opacity-bg{
  opacity: 0.2;

}
.change-here{
  
  width: 100%;
  color: grey;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;

}
.stop-pomodoro-msg{
  
  width: 100%;
  color: grey;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.slider-container{
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (min-width: 700px) {
  .slider-container{
     max-width: 441px;
  }

}
