
.top--nav {
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: rgb(202, 202, 202);

  ul{
    margin: 0;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
   
  }
  .div--logo{
    width: 150px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    text-shadow: .5px .5px rgb(102, 102, 102);
    font-size: 1.5em;
    margin-left: 8px;
    color: rgb(243, 49, 49);
    a{

      text-decoration: none;
      color: rgb(243, 49, 49);
    }
  }

  .div--right{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: center;
    
    li{
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: rgb(143, 143, 143);

    }
    a{
      text-decoration: none;
      color: rgb(143, 143, 143);
      cursor: pointer;
    }
    a:hover {
      color: rgb(44, 44, 44);
      font-weight: 500;


    }
    span{
      text-decoration: none;
      color: rgb(143, 143, 143);
      .strong{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: black
      }
    }
  }


  li{
    list-style: none;
  }
  


}